<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Layui</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="${ctx!}/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="${ctx!}/css/begtable.css" />
		<script type="text/javascript">
			var rootPath = "${ctx!}";
		</script>
	</head>

	<body>
		<div style="margin: 15px;">
			<blockquote class="layui-elem-quote">
				<a href="javascript:;" class="layui-btn layui-btn-small" id="add">
					<i class="layui-icon">&#xe608;</i> 添加信息
				</a>
				<a href="#" class="layui-btn layui-btn-small" id="import">
					<i class="layui-icon">&#xe608;</i> 导入信息
				</a>
				<a href="#" class="layui-btn layui-btn-small">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i> 导出信息
				</a>
				<a href="javascript:;" class="layui-btn layui-btn-small" id="search">
					<i class="layui-icon">&#xe615;</i> 搜索
				</a>
			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>字段集区块 - 默认风格</legend>
				<div class="layui-field-box">
				<div class="beg-table-box">
					<div class="beg-table-body">
						<table class="beg-table">
							<thead>
								<tr>
									<th style="width: 25px;">
										<input type="checkbox" id="begtable-selected-all">
									</th>
									<th>用户id</th>
									<th>账户名</th>
									<th>昵称</th>
									<th>性别</th>
									<th>出生日期</th>
									<th>电话</th>
									<th>邮箱</th>
									<th>住址</th>
									<th>逻辑删除状态</th>
									<th>是否锁定</th>
									<th>用户描述</th>
									<th>创建时间</th>
									<th>更新时间</th>
								</tr>
							</thead>
							<tbody>
								<#list paging.records as row>
									<tr>
										<td style="text-align: center;"><input type="checkbox" /></td>
										<td>${row.id}</td>
										<td>${row.userName}</td>
										<td>${row.nickName}</td>
										<td>${row.sex}</td>
										<td>${row.birthday?string('yyyy-MM-dd')}</td>
										<td>${row.telephone}</td>
										<td>${row.email}</td>
										<td>${row.address}</td>
										<td>${row.deleteStatus}</td>
										<td>${row.locked}</td>
										<td>${row.description}</td>
										<td>${row.createTime?string('yyyy-MM-dd HH:mm:ss')}</td>
										<td>${row.updateTime?string('yyyy-MM-dd HH:mm:ss')}</td>
									</tr>
								</#list>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">
				</div>
			</div>
		</div>
		<script type="text/javascript" src="${ctx!}/plugins/layui/layui.js"></script>
		<script>
			layui.use([ 'laypage', 'layer' ], function() {
				var laypage = layui.laypage, layer = layui.layer;
				laypage({
					cont : 'page',
					pages : ${paging.pages},
					curr : ${paging.current},
					groups: 5, //连续显示分页数
					first : false,
					last : false,
					jump : function(obj, first) {
						if (!first) {
// 							layer.msg('第 ' + obj.curr + ' 页');
							window.location.href = rootPath + "/admin/user/index?pn=" + obj.curr;
						}
					}
				});
			});
		</script>
</body>

</html>