<?xml version="1.0" encoding="UTF-8"?>  
<Configuration status="debug">  
    <Appenders>  
        <Console name="Console" target="SYSTEM_OUT" follow="true">  
            <PatternLayout>  
                <pattern>%d %p %C [%t] %m%n</pattern>  
            </PatternLayout>  
        </Console>  
    </Appenders>  
    <Loggers>  
        <Logger name="org.apache.catalina.util.LifecycleBase" level="error" />  
        <Logger name="org.apache.coyote.http11.Http11NioProtocol" level="warn" />  
        <Logger name="org.apache.tomcat.util.net.NioSelectorPool" level="warn" />  
        <Logger name="org.hibernate.validator.internal.util.Version" level="warn" />  
        <Logger name="org.springframework" level="warn" />  
        <Logger name="net.sppan.base" level="debug" />
        
        <Root level="debug">  
            <AppenderRef ref="Console" />  
        </Root>  
    </Loggers>  
</Configuration>  