<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.sppan.base.mapper.ResourcesRoleMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="net.sppan.base.entity.ResourcesRole">
		<id column="id" property="id" />
		<result column="s_id" property="sId" />
		<result column="r_id" property="rId" />
		<result column="create_time" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, s_id AS sId, r_id AS rId, create_time AS createTime
    </sql>
</mapper>
